* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
}

section {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0px 80px;
}

.card {
  height: 40%;
  width: 15%;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.name {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: end;
}
.age {
  color: rgba(0, 0, 0, 0.498);
  font-size: 5rem;
  position: absolute;
  bottom: -5%;
  font-weight: 400;
  font-family: sans-serif;
}
:root {
  --x: 100px;
  --y: 100px;
}
.box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: radial-gradient(
    90px at var(--x) var(--y),
    rgba(255, 255, 255, 0.301),
    black
  );
}
